<div class="center">
    <p-card header="Enter Credentials" [style]="{width: '25rem', overflow: 'hidden'}">
        <form [formGroup]="loginForm">
            <input pInputText type="email" id="email" formControlName="email" placeholder="Email" autocomplete="email" />
            <p-password inputId="password" formControlName="password" placeholder="Password" [feedback]="false" [toggleMask]="true" />

            <p-button type="submit" [disabled]="!loginForm.valid" (click)="login()">Login</p-button>
        </form>
        <p>don't have account <a routerLink="/signup">signup instead</a></p>
    </p-card>
</div>

@let err = userService.error;
@if(err){
    <br>
    <p-message severity="error" variant="outlined" closable>
        <p>{{err.error}}</p>
        <p>{{err.message}}</p>
    </p-message>
}