@if(error){
    <p-message severity="error" variant="outlined" closable>
        <p>{{error.error}}</p>
        <p>{{error.message}}</p>
    </p-message>
}

@if(isSubmitted){
    <p-message severity="success" variant="outlined">
        <p>You have Successfully Submitted the Form</p>
    </p-message>
    <h3 style="cursor: pointer; color: skyblue;"><u><a (click)="showAgain()" >Submit Again</a></u></h3>
}

@if(!formData){
    <i class="pi pi-spin pi-spinner center" style="font-size: 5rem;"></i>
}

@if(formData && isSubmitted === false) {
    <div>
        @if(currentUserOwnsForm()){
            <div style="float: right;">
                <p-button (click)="goToSubmissions()">
                    responses
                </p-button>
            </div>
        }
        <h1>{{formData.header}}</h1>
        <h2>{{formData.description}}</h2>
    </div>
    <br>
    <p-divider/>
    <br>
    <div class="flex-center">
        <div [formGroup]="formInput"  style="width: 100%; max-width: 900px;">
            @for (question of formData.questions; track $index) {
                <app-question-input [parentFormGroup]="formInput" [question]="question"/>
                <br>
            }
            <p-button type="submit" [disabled]="!formInput.valid" (click)="submit()">submit</p-button>
        </div>
    </div>
}